.video-container {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all .2s linear;
  border-radius: 13px;
}

.video-container:hover {
  background-color: #ccc;
  transform: scale(1.1) translateY(10px);
}

/* Video Image */

.video-img {
  width: 320px;
  height: 180px;   
  border-radius: 13px;
}

/* Data Section */

.data-section {
  display: flex;
  gap: 20px;
}

/* Channel Picture */

.img-container {

}

.channel-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.data-container h2 {
  font-size: 14px;
}

.data-container small {
  color: #666;
}

.data-bottom {
  display: flex;
  gap: 8px;
}
